.layout {
  display: flex;
  min-height: 100vh;
  background: #0f172a;
  color: white;
}

.content {
  flex: 1;
  margin-left: 280px;
  padding: 3rem;
}

section {
  min-height: 100vh;
  padding: 3rem 0;
}